/* styles.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Your custom styles go here */
*{
  font-family: sans-serif
}

.FixedImage{
width: 100%;
height: 100vh;
background-position: center;
background-size: auto;
background-image: url(/public/pawan.jpg);
background-attachment: fixed;

}

.container {
    padding: 10px, 10%;
}



.about {
    position: relative;
    padding-bottom: 8px; 
    margin-right: 20px; 
    list-style: none; 
  }
  
  .about::after {
    content: '';
    width: 0;
    height: 2px; /* Set the height of the border */
    background-color: #ff004f; /* Set the color of the border */
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.3s; /* Transition the width property over 0.3 seconds */
  }
  
  .about:hover::after {
    width: 100%; /* Expand the border on hover */
  }

  @media screen and (max-width: 300px) {
    .grid-cols-1 {
      grid-template-columns: 1fr;
      text-size-adjust:18px;
    }
  
  }
  @media screen and (max-width: 640px) {
    .about {
      font-size: 14px; 
    }
  }

  .homeButton {
    background-color: green;
    position: fixed;
    top:0;
    right: 0;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    color: black;
    z-index: 20;
  }

.main-image img,
.second-image img {
  transition: opacity 0.3s ease-in-out; /* Smooth opacity transition */
}

/* Add a class for the currently active image */
.active {
  opacity: 1; /* Make the active image fully visible */
}

/* Adjust the opacity of inactive images */
.second-image img:not(.active) {
  opacity: 0.5; /* Reduce opacity for inactive images */
}

/* Add a transition for the main image */

@keyframes scrollAnimation {
  from {
    transform: translateX(-50%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Apply the animation to the main image */
.scroll-animation {
  animation: scrollAnimation 0.5s ease-in-out; /* Apply the animation */
}

  

  